<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav playlist-code">
      <p>
        Your Playlist Code is: <%= link_to "#{@playlist.code}", playlist_path(@playlist.code) %>
      </p>
    </div>
    <div class="col-sm-8 text-left">
      <div class="container">
        <h1> Current Playlist </h1>
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Artist</th>
              <th>Duration</th>
              <th>Votes</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div id="custom-search-input">
       <div class="input-group col-md-12">
         <input type="text" class="search-query form-control" placeholder="Search Spotify"/>
         <span class="input-group-btn">
           <button id="search-spotify" class="btn btn-info" type="button">
             <span class=" glyphicon glyphicon-search"></span>
           </button>
         </span>
       </div>
       <div id="search-results">
       </div>
     </div>
    </div>
  </div>
</div>
